@use "../base/functions" as *;

/*Form Container Component*/

.form-container {
  align-self: center;
  background-color: getBgColor(secondary);
  box-shadow: 0 2px 8px lightgray;
  flex-basis: 50%;
  margin: 40px;

  .form-group {
    margin: 20px 40px;
    font-size: 1.4rem;
  }

  .form-control {
    font-size: 1.5rem;
  }
  @media screen and (max-width: getScreenSize(sm)) {
    flex-basis: 90%;
  }
  @media screen and (max-width: getScreenSize(md)) {
    flex-basis: 70%;
  }
}
