/*Modal Component*/
.modal {
  font-size: 1.7rem;

  @at-root #{&}-header {
    padding: 10px 15px;

    .close {
      font-size: 30px;
    }
  }

  .form-group {
    font-size: 1.4rem;
  }

  .form-control {
    border: 0;
    border-bottom: 1px solid gray;
    height: 40px;
    transition: all 0.3s ease;
    &:active,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  @at-root .form-group > .input-group {
    border-bottom: 1px solid gray;
    margin-top: 20px;
  }

  @at-root .input-group > .form-control {
    border: 0;
    font-size: 1.4rem;
  }

  @at-root .input-group-text {
    background-color: white;
    border: 0;
    height: 40px;
    padding: 0;
  }
}
