@use "../base/functions" as *;

/*Navbar Component*/
.navbar {
  background-color: getBgColor(secondary);
  box-shadow: 0 0 5px gray;
  min-height: 80px;
  padding: 15px;
  width: 100%;

  @at-root #{&}__container {
    padding-left: 0;
    a {
      color: inherit;
      cursor: pointer;
      margin-left: 10px;
    }
  }
  @at-root #{&}__brand {
    color: getFontColor(primary);
    font-size: 2.5rem;
    font-weight: 500px;
    text-align: center;
    img {
      margin: 4px 10px;
      width: 25px;
      height: 25px;

      @media screen and (max-width: getScreenSize(xs)) {
        width: 20px;
        height: 20px;
      }
    }
    @media screen and (max-width: getScreenSize(xs)) {
      font-size: 2rem;
    }
  }

  @media (max-width: 575px) {
    @at-root #{&}-toggler {
      font-size: 1.8rem;
    }
  }
}
