.post {
  border-radius: 5px;
  border: 1px solid lightgray;
  color: gray;
  cursor: pointer;
  padding: 5px 10px;
}

.post__header {
  display: inline-block;
  padding: 15px 0 0 10px;
}
.post__body {
  font-weight: bold;
  margin-top: 10px;
}

.post:hover {
  border: 1px solid gray;
}
