.avatar__img {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

:root {
  --bg-color-primary: rgb(245, 245, 248);
  --bg-color-secondary: rgb(255, 255, 255);
  --btn-color-primary: rgb(252, 67, 100);
  --btn-color-primary-hover: rgb(252, 42, 79);
  --btn-color-secondary: rgb(32, 189, 175);
  --btn-color-secondary-hover: rgb(36, 175, 162);
  --font-color: rgb(128, 128, 128);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font: gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Page Transition Styles*/
.page-enter {
  opacity: 0.01;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}