:root {
  --bg-color-primary: rgb(245, 245, 248);
  --bg-color-secondary: rgb(255, 255, 255);

  --btn-color-primary: rgb(252, 67, 100);
  --btn-color-primary-hover: rgb(252, 42, 79);
  --btn-color-secondary: rgb(32, 189, 175);
  --btn-color-secondary-hover: rgb(36, 175, 162);

  --font-color: rgb(128, 128, 128);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font: gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
